/* CARRETERA */
#imagenFondoCarretera {
    padding: 40px 0;
    background-image: url(fotos/imagenesFondo/fondoBicisCarretera.webp);
    background-size: cover;
    background-position: center;
    overflow: visible !important;
}

/* MONTAÑA */
#imagenFondoMontana {
    padding: 40px 0;
    background-image: url(fotos/imagenesFondo/fondoBicisMontana.webp);
    background-size: cover;
    background-position: center;
}

/* PISTA */
#imagenFondoPista {
    padding: 40px 0;
    background-image: url(fotos/imagenesFondo/fondoBicisPista.webp);
    background-size: cover;
    background-position: center;
}

#fondoElementosPista {
    font-family: "Roboto Condensed", serif;
    background-color: rgb(145, 145, 145, 0.4);
    margin: 120px 220px;
    padding: 10px 15px;
    border-radius: 20px;
    color: white;
    border: 1px solid black;
}
